$border-color: #00ACC9;
$text-color: #132740;

@mixin box-shadow() {
  -moz-box-shadow: 0px 6px 30px -6px rgba($text-color, 0.1);
  -webkit-box-shadow: 0px 6px 30px -6px rgba($text-color, 0.1);
  box-shadow: 0 6px 30px -6px rgba($text-color, 0.5);
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  // background-image: asset-url('');
}

// Centrado de la vista
.loginP {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: asset-url('image2.png'); /* Utiliza asset-url para referenciar la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// Contenedor principal para todos los elementos
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Título (Log in)
h2 {
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

// Contenedor del formulario (como el cuadro de inicio de sesión de Instagram)
form {
  background-color: rgba(255, 255, 255, 0.85); // Fondo blanco semitransparente
  padding: 40px 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Campos de entrada
.field {
  width: 100%;
  margin-bottom: 18px;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    color: #262626;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: #a8a8a8;
    }
  }
}

// Checkbox de "remember me"
.field.remember_me {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #8e8e8e;
  width: 100%;
  margin-top: -10px;

  input[type="checkbox"] {
    margin-right: 8px;
  }
}

// Botón de inicio de sesión
.actions {
  width: 100%;
  margin-top: 16px;
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0095f6;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #007cc4;
    }

    &:active {
      background-color: #005f99;
    }
  }
}

// Estilos para los enlaces debajo del formulario
.links {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  a {
    color: #007cc4;
    text-decoration: none;
    margin-top: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}



// ***************** ALERTS ************************** //
.alert-container {
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: #FFF;
}

.alert-box {
  border-left: 10px solid rgba(171, 178, 182, 0.4);
  border-radius: 10px;
  border-left-color: $border-color;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 20px 40px;
}

.alert-danger {
  border-left-color: #f8d7da;
}

.alert-info {
  border-left-color: #DFF7DA;
}

.message {
  color: $text-color;
}
 
// ***************** ALERTS ************************** //

.feed-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .sidebar {
    margin-top: 20px;
    width: 60px;
    position: fixed; // Mantiene la barra fija
    height: 100%; // Asegura que ocupe toda la altura
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-bottom: 20px;
          text-align: center;
          i {
            color: $text-color;
            font-size: 1.5em;
          }
        }

        .notifications {
          position: relative;

          .count {
            position: absolute;
            bottom: 10px;
            left: 34px;
            background-color: red;
            border-radius: 50%;
            font-size: 14px;
          }
        }
      }
    }

    .logout-link {
      color: $text-color; // Color del texto
      display: flex;
      align-items: center; // Centrar verticalmente el ícono y el texto
      padding: 10px 0; // Espaciado alrededor del enlace
    
      &:hover {
        color: darken($text-color, 10%); // Color más oscuro al pasar el mouse
      }
    
      i {
        margin-right: 5px; // Espacio entre el ícono y el texto
      }
    }
  }

  main.publications {
    flex-grow: 1;
    margin-left: 80px; // Ajusta el margen izquierdo para el sidebar
    padding: 20px;
    margin-right: 220px; // Espacio para el cuadro de hashtags

    .publication-form {
      margin-bottom: 20px;
      padding-bottom: 20px;
      @include box-shadow();

      .form-group {
        textarea, select, .upload-file {
          width: calc(100% - 20px); // Ancho del formulario
          padding: 10px;
          border: none;
          border-radius: 5px;
        }

        .btn-primary {
          margin-left: 10px;
          background-color: $border-color;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken($border-color, 10%);
          }
        }
      }
    }

    .publication-list {
      .publication {
        @include box-shadow();
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;

        .user {
          display: flex;
          align-items: center;

          i {
            margin-right: 5px;
          }
        }

        .username {
          font-size: 1.2em;
          color: $text-color;
          font-weight: bold;
        }

        .publication-image img {
          max-width: 100%;
          border-radius: 5px;
          margin-top: 10px;
        }

        .publication-info {
          margin-top: 10px;

          span {
            margin-right: 10px;
            i {
              color: $text-color;
            }
          }
        }

        .publication-tag-funny {
          span {
            margin-left: 10px;
            background-color: #17a2b8;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 12px;
            white-space: nowrap;
          }
        }

        .publication-tag-work_opportunity {
          span {
            margin-left: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 12px;
            white-space: nowrap;
          }
        }

        .publication-tag-student_help {
          span {
            margin-left: 10px;
            background-color: #ffc107;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 12px;
            white-space: nowrap;
          }
        }

        .like-btn {
          background-color: transparent; // Cambiar a transparente
          color: $border-color;
          border: none;
          cursor: pointer;
          font-size: 1.5em; // Tamaño del icono

          &:hover {
            color: darken($border-color, 10%);
          }
        }

        .comments-section {
          margin-top: 10px;

          .comment {
            margin-bottom: 5px;
            color: $text-color;
            font-size: 0.9em;
          }

          .btn-secondary {
            background-color: lighten($border-color, 20%);
            color: $text-color;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: lighten($border-color, 10%);
            }
          }
        }
      }
    }
  }

  aside.hashtags {
    width: 200px;
    padding: 10px;
    position: fixed; // Hacer que el cuadro de hashtags sea fijo
    top: 20px; // Ajustar la posición desde el top
    right: 20px; // Ajustar la posición desde la derecha
    border-radius: 5px;
    background-color: #f9f9f9;
    @include box-shadow();
    height: calc(100% - 100px);
    margin-top: 30px;

    .users-active {
      display: flex;
      align-items: center;
    }

    .hashtags-active {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .active-indicator {
      margin-left: 5px;
      display: inline-block; // Cambia a inline-block
      width: 10px; // Ancho del círculo
      height: 10px; // Alto del círculo
      background-color: #00ACC9; // Color del círculo
      border-radius: 50%; // Hacer que sea un círculo
      margin-right: 10px; // Espacio entre el círculo y el texto
    }

    h3 {
      color: $text-color;
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        color: $text-color;
        margin-bottom: 5px;
        font-size: 0.9em;
      }
    }
  }

  .users-box, .notification-box {
    background: white;
    border: none; // Remover el borde
    padding: 20px;
    @include box-shadow();
    position: absolute;
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;

    h3 {
      color: $text-color;
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        color: $text-color;
        margin-bottom: 10px;
        font-size: 0.9em;
        display: flex;
        justify-content: space-between;

        .btn-follow {
          background-color: $border-color;
          color: white;
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken($border-color, 10%);
          }
        }
      }
    }

    button {
      background-color: transparent;
      color: $text-color;
      border: none;
      cursor: pointer;
      font-size: 1em;
      margin-top: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    .username {
      color: #00ACC9; // Color del texto para el nombre de usuario
      font-weight: bold; // Hacer el texto más grueso
      text-decoration: underline; // Subrayar el texto
      margin-right: 5px; // Espacio a la derecha para separar del resto del texto
    }

    .comment-description {
      color: $text-color; // Color del texto para la descripción del comentario
      font-style: italic; // Cursiva para diferenciarlo
      margin-left: 5px; // Espacio a la izquierda para separar del nombre de usuario
    }
  }

  @media (max-width: 768px) {
    aside.hashtags {
      display: none; // Ocultar el cuadro de hashtags en vista responsive
    }

    main.publications {
      width: 100%; // Hacer que las publicaciones ocupen todo el ancho en mobile
      margin-left: 40px; // Eliminar margen izquierdo
      margin-right: 0; // Eliminar margen derecho
    }
  }
}
